.lang-words-view, .lang-phrases-view {
    background: linear-gradient(90deg, #04040c, #14012e);
    height: 100vh;

    section{
        background: inherit;
    }

    h1 {
        text-align: center;
        margin: 5% 0;
        font-size: 40px;
    }

    .row {
        width: inherit;
    }
}

.word-info-view, .phrase-info-view{
    background: #140529;
    padding: 20px;
    height: fit-content;

    .word-name, .phrase-name{
        position: relative;
        padding: 20px;
        margin: 10px;
        border-radius: 20px;
        text-align: center;
    }

    .go-back-btn{
        border: none;
        padding: 10px;
        margin: 0 10px;
        border-radius: 20px;
        transition: 0.2s;
        background: #6c0fc4!important;
        border: 2px solid #a544ff;

        &:hover{
            background-color: #a544ff!important;
        }
    }

    .info-box{
        border-radius: 20px;
        background: #160427;
        padding: 20px;
        border: 1px solid #6b6b6b8c;
        min-width: 20%;
        margin: 30px 0;

        h3{
            margin: 0;
        }
    }

    .meaning-box{
        display: flex;
        align-items: center;
        background-color: #3d1f6881;
        padding: 5px 10px;
        margin: 6px 0;
        border: 1px solid #513972;
        border-radius: 5px;

        &:hover{
            background-color: #592c97ad;
        }
    }

    .primary-meaning{
        background-color: #2d863280;
        border: 1px solid #42c4489d;

        &:hover{
            background-color: #42c4489d;
        }
    }

    #meaning-wrapper{
        max-height: 300px;
        overflow-y: scroll;
    }

    .group-wrapper{
        max-height: 300px;
        overflow-y: scroll;
    }

    .group-box{
        text-align: center;
        background-color: #3d1f6881;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #513972;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            background-color: #592c97ad;
        }
    }

    .gb-selected{
        background-color: #2d863280;
        border: 1px solid #42c4489d;

        &:hover{
            background-color: #42c4489d;
        }
    }

    .add-mean{
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
}

.global-table {
    $border-radius: 20px;

    width: 100%;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: $border-radius;
    margin: 0;

    thead {

        th {
            padding: 15px;
            position: sticky;
            background-color: #1b1838;
            text-align: center;
        }

        th:first-child {
            border-top-left-radius: $border-radius;
        }

        th:last-child {
            border-top-right-radius: $border-radius;
        }
    }

    tbody {
        border-top: 1px solid!important;
        max-height: 70vh;
        overflow: scroll;
        text-align: center;
        text-transform: none;

        .meaning-expand{

            &:hover{
                div{
                    display: block!important;
                }

                p{
                    display: none;
                }
            }
            
        }

        tr{
            td{
                border-left: 1px solid #24262c;
            }
            td:first-child{
                border-left: none;
            }
        }

        tr:last-child {

            td:first-child {
                border-bottom-left-radius: $border-radius;
            }

            td:last-child {
                border-bottom-right-radius: $border-radius;
            }

            border-bottom: transparent;
        }

        tr:hover {
            td {
                background-color: #1c192e;
            }
        }

        td {
            background-color: #141022;
            padding: 15px;
            box-shadow: none;
            transition: 0.2s;
            cursor: cursor;
        }
    }
}

.go-back-btn{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate( 0, -50%);
    font-size: 28px;
    background-color: transparent!important;

    &:hover{
        background-color: #36365a!important;
    }

}

.modal{
    position: absolute;
    background-color: #1d1d1d23;
    backdrop-filter: blur(5px);

    .modal-opt{
        font-weight: 500;
        border-radius: 10px;
        border: 1px solid #595975;
        background: #131318;
        color: #c0c0c0;

        option {
            color: #c0c0c0;
            font-weight: 500;
        }
    }

    .form-select {
        background-image: url('data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27><path fill=%27none%27 stroke=%27%23c0c0c0%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/></svg>');
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
    }

    .btn-close{
        filter: invert(1);
    }

    .modal-content{
        background-color: #131318;
        border-radius: 20px;
        border: 1px solid #595975;
        box-shadow: 0 0 20px #0000006b;

        input[type=text], textarea{
            background-color: #323241;
            border-color: #626281;
            color: white;
            transition: 0.2s;
            
            &:hover{
                background-color: #404053;
            }

            &:focus{
                box-shadow: 0 0 0 0.25rem #581ea373;
            }
        }

        .modal-header, .modal-footer{
            border: none;
            text-transform: capitalize;
        }
    }
}

.data-control-panel {
    background: #221844;
    border: 1px solid #6450a5;
    padding: 20px 5%;
    border-radius: 20px;
    margin-bottom: 30px;

    .dc-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        label {
            margin-bottom: 10px;
        }

        span {
            width: 20%;
            margin-bottom: 20px;
        }

        select {
            font-weight: 500;
            border-radius: 10px;
            border: 1px solid #6450a5;
            background: #221844;
            color: #c0c0c0;

            option {
                color: #c0c0c0;
                font-weight: 500;
            }
        }

        .form-select {
            background-image: url('data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27><path fill=%27none%27 stroke=%27%23c0c0c0%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/></svg>');
            background-repeat: no-repeat;
            background-position: right 0.75rem center;
            background-size: 16px 12px;
        }

        .text-input{
            background-color: #372968;
            color: white;
            border-color: #694fc9;
        }
    }
}

.d-none-search{
    display: none;
}

.hover-danger {
    &:hover {
        background: #3d1919!important;
        border-color: #9e0c0c;
    }
}

.table-buttons{
    font-size: 17px;
}

.prepare-exerc-view{
    min-height: 100vh;
    background-color: #0d0020;

    h1{
        text-align: center;
        margin: 3%;
        font-size: 55px;
    }

    h5{
        margin-top: 20px;
        margin-left: 10px;
    }

    .nm-questions{
        background-color: #1c1631;
        border-color: #515174;
        border-radius: 10px;
        color: white;
    }

    .form-control:focus{
        background-color: #382c53;
        color: white;
    }

    .form-check{
        margin-top: 15px;
        margin-left: 10px;
    }
    
}

.test-view{
    background: #0d0020;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    div{
        .data-control-panel{
            background: none;
            border: none;
        }

        .table-wrapper{
            max-height: 50vh;
            overflow-y: scroll;

            tr{
                cursor: pointer;
            }

            .selected-for-test td{
                background-color: #00a8007c;
            }
        }
    }

    select, input{
        border-radius: 5px!important;
    }

    .answer{
        padding: 20px;
        margin: 10px;
        background: #170036;
        border: 1px solid #a66bff62;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.2s;
        font-size: 20px;

        &:hover{
            background: #31026e;
        }
    }

    .input-answer-box{
        background-color: #2a1655;
        border: 1px solid #8a64c2a1;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: row;

        input{
            margin: 0 5px;
            background: #1b0e38;
            border: 1px solid #8a64c2a1;
            color: white;

            &:hover{
                border-color: #ffffff81;
            }

            &:focus{
                border-color: #c099ff;
                box-shadow: none;
            }
        }
    }

    .ans-false{
        background: #810000;
        border-color: red;

        &:hover{
            background: #a50000;
        }
    }

    .ans-true{
        background: #007000;
        border-color: #00bd00;

        &:hover{
            background: #008f00;
        }
    }

    .question{
        margin-bottom: 5%;
        font-size: 25px;
    }

    .score-box{
        margin: 20px 10px;
        padding: 5%;
        width: 100%;

        p{
            font-size: 40px;
            margin: 0;
        }
    }

    .qst-data-wrap{
        font-size: 50px;
        font-weight: 500;
    }
}

.connected-wrd-phr-view{

    background: linear-gradient(90deg, #110c1a, #140b33);
    text-align: center;

    .title-box{
        margin-top: 5%;
    }

    .cont-con{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .add-con{
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        font-size: 20px;
        background: #1f1238;
        border: 1px solid #251641;
        transition: 0.2s;

        &:hover{
            background: #21133b;
            border: 1px solid #45297a;
        }
    }

    .wrapper{
        max-height: 50vh;
        overflow-y: scroll;
        margin: 20px 0;
    }
}