.lang-words-view {
  background: -webkit-gradient(linear, left top, right top, from(#04040c), to(#14012e));
  background: linear-gradient(90deg, #04040c, #14012e);
  height: 100vh;
}

.lang-words-view section {
  background: inherit;
}

.lang-words-view h1 {
  text-align: center;
  margin: 5% 0;
  font-size: 40px;
}

.lang-words-view .row {
  width: inherit;
}

.global-table {
  width: 100%;
  font-size: 20px;
  text-transform: capitalize;
  border-radius: 20px;
  margin: 0;
}

.global-table thead th {
  padding: 15px;
  position: -webkit-sticky;
  position: sticky;
  background-color: #1b1838;
  text-align: center;
}

.global-table thead th:first-child {
  border-top-left-radius: 20px;
}

.global-table thead th:last-child {
  border-top-right-radius: 20px;
}

.global-table tbody {
  border-top: 1px solid !important;
  max-height: 70vh;
  overflow: scroll;
  text-align: center;
  text-transform: none;
}

.global-table tbody .meaning-expand:hover div {
  display: block !important;
}

.global-table tbody .meaning-expand:hover p {
  display: none;
}

.global-table tbody tr td {
  border-left: 1px solid #24262c;
}

.global-table tbody tr td:first-child {
  border-left: none;
}

.global-table tbody tr:last-child {
  border-bottom: transparent;
}

.global-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}

.global-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}

.global-table tbody tr:hover td {
  background-color: #221f38;
}

.global-table tbody td {
  background-color: #141022;
  padding: 15px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: cursor;
}

.data-control-panel {
  background: #221844;
  border: 1px solid #6450a5;
  padding: 20px 5%;
  border-radius: 20px;
  margin-bottom: 30px;
}

.data-control-panel .dc-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data-control-panel .dc-section label {
  margin-bottom: 10px;
}

.data-control-panel .dc-section span {
  width: 25%;
  margin-bottom: 20px;
}

.data-control-panel .dc-section select {
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #6450a5;
  background: #221844;
  color: #c0c0c0;
}

.data-control-panel .dc-section select option {
  color: #c0c0c0;
  font-weight: 500;
}

.data-control-panel .dc-section .form-select {
  background-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27><path fill=%27none%27 stroke=%27%23c0c0c0%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

.data-control-panel .dc-section .hover-danger:hover {
  background: #3d1919;
  border-color: #9e0c0c;
}
/*# sourceMappingURL=globalViews.css.map */