$main-color: #5900ff;
$font-black: black;
$font-white: white;

*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(45deg, #100049, #6a00c0);
    height: 100vh;    
}

#root{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.navigation{
    color: $font-white;
    background: #180f2a;
    width: 200px;
}