$main-color: #5900ff;
$font-black: black;
$font-white: white;

*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(45deg, #31133f, #10003b);
    height: 100vh;    
}

#root{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.navigation{
    color: $font-white;
    background: #130f1d;
    width: 200px;
}