@font-face {
  font-family: 'Quicksand';
  src: url("./fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Quicksand';
  src: url("./fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3a0ff;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c4a4ff;
}

body {
  background: linear-gradient(45deg, #6b1172, #06005c);
  height: 100vh;
}

main {
  width: 100%;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
}

.purple-button {
  background: #6000c9;
  border: 1px solid #9b4eff;
  padding: 7px 10px;
  margin: 5px 10px;
  border-radius: 10px;
  font-weight: 500;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.purple-button:hover {
  background: #7d1aff;
}

.sec-button {
  background-color: #222441;
  border: 1px solid #4e4e99;
}

.sec-button:hover {
  background: #3b3963;
}

.danger-btn {
  background-color: #4a0c0c;
  border: 1px solid #ad0404;
}

.danger-btn:hover {
  background-color: #851313;
}

.cont-view {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation {
  color: white;
  background: #130f1d;
  width: 20em;
}

.navigation .app-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
}

.navigation .app-title h3 {
  font-size: 40px;
}

.navigation .nav-control {
  height: 85vh;
}

.navigation .button-box-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation .button-box-nav .nav-btn {
  position: relative;
  font-size: 18px;
  text-transform: capitalize;
  border: 1px solid transparent;
  background-color: transparent;
  color: white;
  width: 90%;
  padding: 10px 0;
  margin: 10px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 10px;
  text-align: start;
}

.navigation .button-box-nav .nav-btn span {
  padding: 30px;
  position: relative;
}

.navigation .button-box-nav .nav-btn span svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 10px;
}

.navigation .button-box-nav .nav-btn:hover {
  background-color: #2b2240;
  border: 1px solid #53407e;
}

.navigation .button-box-nav .active-nav {
  background: -webkit-gradient(linear, left top, right top, from(#ab00ab), to(#7700ff));
  background: linear-gradient(90deg, #ab00ab, #7700ff);
  -webkit-box-shadow: 0 3px 20px 1px #b400ffad;
          box-shadow: 0 3px 20px 1px #b400ffad;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid #c73ec7cc;
}

.navigation .button-box-nav .active-nav:hover {
  border: 1px solid #ab00ab;
}
/*# sourceMappingURL=style.css.map */