.langview{
    height: 100vh;

    h1{
        text-align: center;
        margin-bottom: 30px;
    }

    .table-override{
        $border-radius: 20px;

        width: 100%;
        font-size: 20px;

        thead{ 
            th{
                padding: 20px;
            }

            th:first-child{
                border-top-left-radius: $border-radius;
            }

            th:last-child{
                border-top-right-radius: $border-radius;
            }
        }

        tbody{
            border-top: 1px solid;

            tr:last-child{
                td:first-child{
                    border-bottom-left-radius: $border-radius;
                }

                td:last-child{
                    border-bottom-right-radius: $border-radius;
                }

                border-bottom: transparent;
            }

            tr:hover{
                td{
                    background-color: #4c3f6b;
                }
            }
    
            td{
                background-color: #352c4b;
                padding: 20px;
                box-shadow: none;
                transition: 0.2s;
                cursor: pointer;
            }
        }

    }
}

.row{
    width: 70%;
}