:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

.langview, .group-view {
  height: 100vh;
  position: relative;
}

.langview h1, .group-view h1 {
  text-align: center;
  margin-bottom: 30px;
}

.langview .modal, .group-view .modal {
  position: absolute;
  background-color: #1d1d1d23;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.langview .modal .btn-close, .group-view .modal .btn-close {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.langview .modal .modal-content, .group-view .modal .modal-content {
  background-color: #131318;
  border-radius: 20px;
  border: 1px solid #595975;
  -webkit-box-shadow: 0 0 20px #0000006b;
          box-shadow: 0 0 20px #0000006b;
}

.langview .modal .modal-content input[type=text], .group-view .modal .modal-content input[type=text] {
  background-color: #323241;
  border-color: #626281;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.langview .modal .modal-content input[type=text]:hover, .group-view .modal .modal-content input[type=text]:hover {
  background-color: #404053;
}

.langview .modal .modal-content input[type=text]:focus, .group-view .modal .modal-content input[type=text]:focus {
  -webkit-box-shadow: 0 0 0 0.25rem #581ea373;
          box-shadow: 0 0 0 0.25rem #581ea373;
}

.langview .modal .modal-content .modal-header, .langview .modal .modal-content .modal-footer, .group-view .modal .modal-content .modal-header, .group-view .modal .modal-content .modal-footer {
  border: none;
  text-transform: capitalize;
}

.langview .table-wrapper, .group-view .table-wrapper {
  max-height: 70vh;
  overflow-y: scroll;
  border-radius: 20px;
}

.langview .table-override, .group-view .table-override {
  width: 100%;
  font-size: 20px;
  text-transform: capitalize;
  border-radius: 20px;
  margin: 0;
}

.langview .table-override thead th, .group-view .table-override thead th {
  padding: 15px;
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
}

.langview .table-override thead th:first-child, .group-view .table-override thead th:first-child {
  border-top-left-radius: 20px;
}

.langview .table-override thead th:last-child, .group-view .table-override thead th:last-child {
  border-top-right-radius: 20px;
}

.langview .table-override tbody, .group-view .table-override tbody {
  border-top: 1px solid;
  max-height: 70vh;
  overflow: scroll;
}

.langview .table-override tbody .langv-table-button, .group-view .table-override tbody .langv-table-button {
  opacity: 0;
  margin: 0 5px;
}

.langview .table-override tbody tr:last-child, .group-view .table-override tbody tr:last-child {
  border-bottom: transparent;
}

.langview .table-override tbody tr:last-child td:first-child, .group-view .table-override tbody tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}

.langview .table-override tbody tr:last-child td:last-child, .group-view .table-override tbody tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}

.langview .table-override tbody tr:hover td, .group-view .table-override tbody tr:hover td {
  background-color: #735c9e;
}

.langview .table-override tbody tr:hover .langv-table-button, .group-view .table-override tbody tr:hover .langv-table-button {
  opacity: 1;
  margin: 20px 5px;
}

.langview .table-override tbody td, .group-view .table-override tbody td {
  background-color: #5a4474;
  padding: 15px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-align: center;
}

@media (max-width: 1293px) {
  .langview .table-override tbody .langv-table-button, .group-view .table-override tbody .langv-table-button {
    margin: 0 5px;
  }
  .langview .table-override tbody tr:hover .langv-table-button, .group-view .table-override tbody tr:hover .langv-table-button {
    opacity: 1;
    margin: 2px 5px;
  }
}

.langview #add-lang, .group-view #add-lang {
  font-size: 20px;
  text-transform: capitalize;
  width: 100%;
  background-color: #5a4474;
  border: 1px solid #7d6caa;
  border-radius: 10px;
  padding: 10px 0;
  margin-top: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.langview #add-lang:hover, .group-view #add-lang:hover {
  background-color: #735c9e;
}

.home-view {
  height: 100vh;
  background-color: #130f1d;
}

.home-view .inner-cont {
  padding: 0 20px;
}

.home-view .inner-cont-2 {
  padding: 0 20px;
  margin-top: 20px;
  font-size: 25px;
}

.home-view .view-btn {
  background: linear-gradient(45deg, #8e009b, #3a007c);
  padding: 20px;
  border-radius: 20px;
  border: 2px solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  height: 85px;
}

.home-view .view-btn p {
  cursor: default;
}

.home-view .view-btn:hover {
  border-color: white;
  height: 120px;
  padding-left: 50px;
  font-size: 50px;
}

.home-view .title-wrapper {
  padding: 3%;
  margin: 20px;
  border-radius: 20px;
  background: linear-gradient(45deg, #8e009b, #3a007c);
}

.home-view .home-title {
  text-align: center;
  font-size: 100px;
}

.home-view .dash-card {
  background: linear-gradient(45deg, #8e009b, #3a007c);
  border-radius: 20px;
  text-transform: capitalize;
  margin: 10px 0;
}

.home-view .row {
  width: 100%;
}

@media (max-width: 1200px) {
  .home-view .title-wrapper {
    padding: 2%;
    margin: 20px;
  }
  .home-view .dash-card {
    margin: 5px 0;
  }
  .home-view .inner-cont-2 {
    display: none;
  }
}

.word-view, .exercises-view, .group-view {
  height: 100vh;
  background-color: #4f09ac;
  overflow-y: scroll;
  border-top-left-radius: 50px;
}

.word-view .cont-view, .exercises-view .cont-view, .group-view .cont-view {
  padding: 0 8%;
}

.word-view .title-box, .exercises-view .title-box, .group-view .title-box {
  margin: 6vh 0;
}

.word-view .title-box h1, .exercises-view .title-box h1, .group-view .title-box h1 {
  text-align: center;
  font-size: 50px;
}

.word-view .content-box, .exercises-view .content-box, .group-view .content-box {
  background: #160d27;
  padding: 20px;
  margin: 15px 0;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px 3px #1e1a2c63;
          box-shadow: 0 0 20px 3px #1e1a2c63;
}

.word-view .content-box h2, .exercises-view .content-box h2, .group-view .content-box h2 {
  text-transform: capitalize;
}

.word-view .content-box .content-row, .exercises-view .content-box .content-row, .group-view .content-box .content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #59359a;
  border-radius: 10px;
  background: #2c1a4d;
  margin: 10px 0;
  padding: 5px 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.word-view .content-box .content-row:hover, .exercises-view .content-box .content-row:hover, .group-view .content-box .content-row:hover {
  background: #432874;
}

.word-view .content-box .content-row h5, .exercises-view .content-box .content-row h5, .group-view .content-box .content-row h5 {
  margin: 0;
}

@media (max-width: 1099px) {
  .word-view .content-box .content-row h5, .word-view .content-box .content-row button, .exercises-view .content-box .content-row h5, .exercises-view .content-box .content-row button, .group-view .content-box .content-row h5, .group-view .content-box .content-row button {
    font-size: 15px;
  }
}

.word-view .row, .exercises-view .row, .group-view .row {
  width: auto;
}

.group-view .cont-view {
  padding: 0 25%;
}

.group-view .cont-view span button {
  width: 70px;
  margin: 5px;
}

.group-view .cont-view .add-group {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  background: #160d27;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 0 20px 3px #1e1a2c63;
          box-shadow: 0 0 20px 3px #1e1a2c63;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.group-view .cont-view .add-group:hover {
  background: #21133b;
  border: 1px solid #45297a;
}

.group-view .cont-view .groups-wrapper {
  max-height: 50vh;
  overflow-y: scroll;
  margin: 20px 0;
}

.row {
  width: 70%;
}
/*# sourceMappingURL=style.css.map */