@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";

$backcolor: #5a4474;
$cardColor: linear-gradient(90deg, $purple-600, $purple-500 );
$backcolorHover: #735c9e;
$main-color: #4f09ac;

.langview, .group-view{
    height: 100vh;
    position: relative;

    h1{
        text-align: center;
        margin-bottom: 30px;
    }

    .modal{
        position: absolute;
        background-color: #1d1d1d23;
        backdrop-filter: blur(5px);

        .btn-close{
            filter: invert(1);
        }

        .modal-content{
            background-color: #131318;
            border-radius: 20px;
            border: 1px solid #595975;
            box-shadow: 0 0 20px #0000006b;

            input[type=text]{
                background-color: #323241;
                border-color: #626281;
                color: white;
                transition: 0.2s;
                
                &:hover{
                    background-color: #404053;
                }

                &:focus{
                    box-shadow: 0 0 0 0.25rem #581ea373;
                }
            }

            .modal-header, .modal-footer{
                border: none;
                text-transform: capitalize;
            }
        }
    }

    .table-wrapper{
        max-height: 70vh;
        overflow-y: scroll;
        border-radius: 20px;
    }

    .table-override{
        $border-radius: 20px;

        width: 100%;
        font-size: 20px;
        text-transform: capitalize;
        border-radius: $border-radius;
        margin: 0;

        thead{ 

            th{
                padding: 15px;
                position: sticky;
                text-align: center;
            }

            th:first-child{
                border-top-left-radius: $border-radius;
            }

            th:last-child{
                border-top-right-radius: $border-radius;
            }
        }

        tbody{
            border-top: 1px solid;
            max-height: 70vh;
            overflow: scroll;

            .langv-table-button{
                opacity: 0;
                margin: 0 5px;
            }

            tr:last-child{

                td:first-child{
                    border-bottom-left-radius: $border-radius;
                }

                td:last-child{
                    border-bottom-right-radius: $border-radius;
                }

                border-bottom: transparent;
            }

            tr:hover{
                td{
                    background-color: $backcolorHover;
                }

                .langv-table-button{
                    opacity: 1;
                    margin: 20px 5px;
                }
            }
    
            td{
                background-color: $backcolor;
                padding: 15px;
                box-shadow: none;
                transition: 0.2s;
                text-align: center;
            }

            @media (max-width: 1293px) {

                .langv-table-button{
                    margin: 0 5px;
                }

                tr:hover{
                    .langv-table-button{
                        opacity: 1;
                        margin: 2px 5px;
                    }
                }
            }
        }

    }

    #add-lang{
        font-size: 20px;
        text-transform: capitalize;
        width: 100%;
        background-color: $backcolor;
        border: 1px solid #7d6caa;
        border-radius: 10px;
        padding: 10px 0;
        margin-top: 20px;
        transition: 0.2s;

        &:hover{
            background-color: $backcolorHover;
        }
    }
}

.home-view{
    height: 100vh;

    .home-title{
        text-align: center;
    }

    .dash-card{
        background: $cardColor;
        border-radius: 20px;
        text-transform: capitalize;
        margin: 10px 0;
    }
}

.word-view, .exercises-view, .group-view{
    height: 100vh;
    background-color: $main-color;
    overflow-y: scroll;

    .cont-view{
        padding: 0 8%;
    }

    .title-box{
        margin: 6vh 0;

        h1{
            text-align: center;
            font-size: 50px;
        }
    }

    .content-box{
        background: $purple-900;
        padding: 20px;
        margin: 15px 0;
        border-radius: 20px;
        box-shadow: 0 0 20px 3px #1e1a2c63;

        h2{
            text-transform: capitalize;
        }

        .content-row{
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid $purple-600;
            border-radius: 10px;
            background: $purple-800;
            margin: 10px 0;
            padding: 5px 10px;
            transition: 0.2s;

            &:hover{
                background: $purple-700;
            }

            h5{
                margin: 0;
            }

            @media(max-width: 1099px){

                h5, button{
                    font-size: 15px;
                }
                
            }
        }
    }

    .row{
        width: auto;
    }
}

.group-view .cont-view{
    padding: 0 25%;

    span button{
        width: 70px;
        margin: 5px 
    }

    .add-group{
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        font-size: 20px;
        background: #160d27;
        border: 1px solid transparent;
        box-shadow: 0 0 20px 3px #1e1a2c63;
        transition: 0.2s;

        &:hover{
            background: #21133b;
            border: 1px solid #45297a;
        }
    }

    .groups-wrapper{
        max-height: 50vh;
        overflow-y: scroll;
        margin: 20px 0;
    }
}

.row{
    width: 70%;
}