$backcolor: #352c4b;
$backcolorHover: #4c3f6b;

.langview{
    height: 100vh;

    h1{
        text-align: center;
        margin-bottom: 30px;
    }

    .table-override{
        $border-radius: 20px;

        width: 100%;
        font-size: 20px;
        text-transform: capitalize;

        thead{ 
            th{
                padding: 15px;
            }

            th:first-child{
                border-top-left-radius: $border-radius;
            }

            th:last-child{
                border-top-right-radius: $border-radius;
            }
        }

        tbody{
            border-top: 1px solid;
            max-height: 70vh;
            overflow-y: scroll;

            tr:last-child{
                td:first-child{
                    border-bottom-left-radius: $border-radius;
                }

                td:last-child{
                    border-bottom-right-radius: $border-radius;
                }

                border-bottom: transparent;
            }

            tr:hover{
                td{
                    background-color: $backcolorHover;
                }
            }
    
            td{
                background-color: $backcolor;
                padding: 15px;
                box-shadow: none;
                transition: 0.2s;
                cursor: pointer;
            }
        }

    }

    #add-lang{
        font-size: 20px;
        text-transform: capitalize;
        width: 100%;
        background-color: $backcolor;
        border: 1px solid #51466e;
        border-radius: 10px;
        padding: 10px 0;
        transition: 0.2s;

        &:hover{
            background-color: $backcolorHover;
        }
    }
}

.home-view{
    height: 100vh;

    .home-title{
        text-align: center;
    }

    .dash-card{
        background-color: $backcolor;
    }
}

.row{
    width: 70%;
}